/*----fonts-----*/
$primary-font: "Lato", sans-serif;
$secondary-font: "Playfair Display", serif;
/*--------colours------------*/
$background-nav: #efefef;
$primary: #e92569;
$secondary: #ffffff;
$text-colour: #767676;

/*--------------mobile-----------------*/
